<div class="container">
  <div class="menu">
    <app-menu-navbar></app-menu-navbar>
  </div>

  <div class="main-content">
    <div class="sidebar">
      <app-left-sidebar></app-left-sidebar>
    </div>
    <div class="content">
    <div class="content-left">
      <div class="grades">
        <div class="small-tile grade-tile"></div>
      </div>
      <div class="teachers">
        <div class="small-tile teachers-tile"></div>
      </div>
      <div class="classes">
        <div class="small-tile classes-tile"></div>
      </div>
    </div>

    <div class="content-right">
      <div class="schedule">
        <div class="tile content-tile"></div>
      </div>
    </div>
    </div>
  </div>
</div>
