<div class="container">
  <div class="menu">
    <app-menu-navbar></app-menu-navbar>
  </div>

  <div class="main-content">
    <div class="sidebar">
      <app-left-sidebar (viewChange)="setActiveView($event)"></app-left-sidebar>
    </div>
    <div class="content">
      <app-home *ngIf="activeView === 'glowna'" (navigateTo)="setActiveView($event)"></app-home>
      <app-grades *ngIf="activeView === 'oceny'" (navigateTo)="setActiveView($event)"></app-grades>
      <app-grade-view *ngIf="activeView === 'grade-view'"></app-grade-view>
      <app-add-grade *ngIf="activeView === 'add-grade'"></app-add-grade>
      <app-group-grades *ngIf="activeView === 'group-grades'" [groupId]="selectedGroupId"></app-group-grades>
      <app-users *ngIf="activeView === 'uzytkownicy'" (navigateTo)="setActiveView($event)"></app-users>
      <app-group-users *ngIf="activeView === 'group-users'"></app-group-users>
      <app-classes *ngIf="activeView === 'przedmioty'"></app-classes>
      <app-schedule *ngIf="activeView === 'plan'"></app-schedule>
      <app-summary *ngIf="activeView === 'wykresy'"></app-summary>
    </div>
  </div>
</div>
