<div class="grades">
  <div class="tile">
    <h2>Wybierz grupę</h2>
    <div class="student-grades-table">
      <table class="subjects-table">
        <thead>
        <tr>
          <th>Grupa</th>
          <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of groups">
          <td>{{ group.groupName }}</td>
          <td>
            <button class="addGrade" (click)="openModal(group.id)">Dodaj ocenę</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2>Nazwa twojego przedmiotu</h2>

    <label>Wybierz ucznia:</label>
    <select [(ngModel)]="selectedStudentId">
      <option *ngFor="let student of students" [value]="student.id">
        {{ student.name }} {{ student.surname }}
      </option>

    </select>

    <label>Wybierz ocenę:</label>
    <select [(ngModel)]="selectedGrade">
      <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
    </select>

    <label>Typ oceny:</label>
    <input type="text" [(ngModel)]="gradeType" />

    <label>Dodaj komentarz:</label>
    <textarea [(ngModel)]="comment"></textarea>

    <div class="modal-buttons">
      <button (click)="saveGrade()">Zapisz</button>
      <button (click)="closeModal()">Anuluj</button>
    </div>
  </div>
</div>
