<div class="main">
  <div class="content-left">
    <div class="grades">
      <div class="small-tile grade-tile">
        <h2>Oceny</h2>
        <div class="button-n-pic">
          <img src="/grades-pic.png">
          <button (click)="goToGrades()">&#10217;</button>
        </div>
      </div>
    </div>
    <div class="teachers">
      <div class="small-tile teachers-tile">
        <h2>Użytkownicy</h2>
        <div class="button-n-pic">
          <img src="/teachers-pic.png" style="transform: scaleX(-1); margin-left: 2rem">
          <button (click)="goToUsers()">&#10217;</button>
        </div>
      </div>
    </div>
    <div class="classes">
      <div class="small-tile classes-tile">
        <h2>Podsumowanie</h2>
        <div class="button-n-pic">
          <img src="/classes-pic.png">
          <button (click)="goToSummary()">&#10217;</button>
        </div>
      </div>
    </div>
  </div>

  <div class="content-right">
    <div class="schedule">
      <div class="tile content-tile">
        <h2>Harmonogram dnia</h2>

        <div class="schedule-list">
          <div class="lesson-item" *ngFor="let lesson of getTodaysLessons()">
            <div class="lesson-header">
              <span class="subject">{{ lesson.subject }}</span>
              <span class="time">{{ lesson.startTime }} – {{ lesson.endTime }}</span>
            </div>
            <div class="teacher">Prowadzący: {{ lesson.teacher }}</div>
          </div>
        </div>

        <div class="other-days">
          <div class="other-days">
            <button (click)="goToSchedule()">Zobacz inne dni</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

