<div class="main">
  <div class="content">
    <div class="grades">
      <div class="tile">
        <h2>Użytkownicy - Klasa {{ groupId }}</h2>

        <div class="student-grades-table">
          <table class="subjects-table">
            <thead>
            <tr>
              <th>Imię i nazwisko ucznia</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students">
              <td>{{ student.name }} {{ student.surname }}</td>
            </tr>
            <tr *ngIf="students.length === 0">
              <td>Brak uczniów w tej klasie.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
