<div class="main">
  <div class="content">
    <div class="grades">
      <div class="tile ">
        <h2>Użytkownicy - Klasa 1</h2>
        <div class="student-grades-table">
          <table class="subjects-table">
            <thead>
            <tr>
              <th>Imię i nazwisko ucznia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Michał Uczniowski</td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
</div>
