<div class="menu">
  <div class="basic-info">
    <span>
      Zalogowany jako Jakub Bonczyk (uczeń)
    </span>
  </div>
  <div class="menu-content">
    <div class="logo-box">
      <a href="/homepage">
        <img src="/logo-long.png">
      </a>
    </div>
    <div class="buttons-section">

      <div class="menu-button theme-button">
        <button><img src="/contrast.png"></button>
        <p>Motyw</p>
      </div>
      <div class="menu-button grades-button">
        <button><img src="/exam.png"></button>
        <p>Oceny</p>
      </div>
      <div class="menu-button notification-button">
        <button><img src="/notification.png"></button>
        <p>Powiadomienia</p>
      </div>
      <div class="menu-button schedule-button">
        <button><img src="/event.png"></button>
        <p>Plan zajęć</p>
      </div>
      <div class="menu-button logout-button">
        <button><img src="/logout.png"></button>
        <p>Wyloguj</p>
      </div>

    </div>
  </div>
</div>
