<div class="menu" *ngIf="userName">
  <div class="menu-content">
    <div class="logo-box">
      <a routerLink="/homepage">
        <img src="/logo-long.png" alt="Logo">
      </a>
    </div>

    <div class="profile-section">
      <label for="fileInput" style="cursor: pointer;">
        <img src="/photo-camera.png" alt="Dodaj zdjęcie" />
      </label>
      <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)" hidden />

      <div class="menu-button profile-button">
        <button #profileBtn></button>
      </div>

      <div class="details">
        <h3>{{ userName }}</h3>
        <p *ngIf="userRole === 'S'">Uczeń</p>
        <p *ngIf="userRole === 'T'">Nauczyciel</p>
        <p *ngIf="userRole === 'A'">Administrator</p>
      </div>
    </div>
  </div>
</div>
