<div class="grades">
  <div class="tile">
    <h2>Oceny na tym przedmiocie</h2>
    <!--    KOM DLA ADIEGO: TUTAJ MAJĄ DODAWAĆ SIĘ DYNAMICZNIE OCENY PER PRZEDMIOT-->
    <div class="student-grades-table">
      <table class="subjects-table">
        <thead>
        <tr>
          <th>Forma sprawdzająca</th>
          <th>Data</th>
          <th>Ocena</th>
          <th>Opis oceny</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Sprawdzian</td>
          <td>23.05.2025</td>
          <td>3.0</td>
          <td>Trygonometria</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
