<div class="main">
  <div class="content">
    <div class="grades">
      <div class="tile ">
        <h2>Oceny</h2>

        <!-- 🔒 Przycisk widoczny tylko dla nauczyciela -->
        <div class="teacher-control-buttons" *ngIf="userRole === 'T'">
          <button (click)="goToAddGrade()">Dodaj ocenę</button>
        </div>

        <!-- 📚 Tabela ocen ucznia – tylko dla ucznia -->
        <div class="student-grades-table" *ngIf="userRole === 'S'">
          <table class="subjects-table">
            <thead>
            <tr>
              <th>Przedmiot</th>
              <th>Średnia</th>
              <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Matematyka</td>
              <td>3.00</td>
              <td><button class="goToGrade" (click)="goToGradeView()">Przejdź</button></td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- 🧑‍🏫 Sekcja nauczyciela -->
        <div class="student-grades-table" *ngIf="userRole === 'T'">
          <table class="subjects-table">
            <thead>
            <tr>
              <th>Klasa</th>
              <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Klasa 1</td>
              <td><button class="goToGrade" (click)="goToGroupGrades()">Przeglądaj oceny</button></td>
            </tr>
            <tr>
              <td>Klasa 2</td>
              <td><button class="goToGrade" (click)="goToGroupGrades()">Przeglądaj oceny</button></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
