<div class="main">
  <div class="content">
    <div class="grades">
      <div class="tile ">
        <h2>Oceny</h2>
<!--    KOM DLA ADIEGO: CAŁY TEN DIV MA ZNIKNĄĆ, JEŻELI ROLA != NAUCZYCIEL-->
        <div class="teacher-control-buttons">
          <button (click)="goToAddGrade()">Dodaj ocenę</button>
        </div>
<!--        TABELA OCEN DLA UCZNIÓW!!!!!!!! - TABELE MAJĄ SIĘ CHOWAĆ LUB POJAWIAĆ W ZALEŻNOŚCI OD ROLI-->
        <div class="student-grades-table">
<!--    KOM DLA ADIEGO: TU MAJĄ DODAWAĆ SIĘ PRZEDMIOTY DYNAMICZNIE Z BAZY DANYCH I ICH ŚREDNIA-->
          <table class="subjects-table">
            <thead>
            <tr>
              <th>Przedmiot</th>
              <th>Średnia</th>
              <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Matematyka</td>
              <td>3.00</td>
              <td><button class="goToGrade" (click)="goToGradeView()">Przejdź</button></td>
            </tr>
            </tbody>
          </table>
        </div>


        <!--        TABELA OCEN DLA NAUCZYCIELI!!!!!!!!-->

        <br>
        tu sekcja nauczycieli - chować w zależności od roli

        <div class="student-grades-table">
          <!--    KOM DLA ADIEGO: TU MAJĄ DODAWAĆ SIĘ PRZEDMIOTY DYNAMICZNIE Z BAZY DANYCH I ICH ŚREDNIA-->
          <table class="subjects-table">
            <thead>
            <tr>
              <th>Klasa</th>
              <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Klasa 1</td>
              <td><button class="goToGrade" (click)="goToGroupGrades()">Przeglądaj oceny</button></td>
            </tr>
            <tr>
              <td>Klasa 2</td>
              <td><button class="goToGrade" (click)="goToGroupGrades()">Przeglądaj oceny</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
