<div class="main">
  <div class="content">
    <div class="grades">
      <div class="tile">
        <h2>Plan zajęć</h2>
        <div class="teacher-control-buttons">
          <input type="date" [(ngModel)]="selectedDate" (change)="loadLessonsForDate(selectedDate)" />
          <button *ngIf="isAdmin" (click)="openEditModal()">Zmiana planu</button>
        </div>


        <div class="schedule-list">
          <div class="lesson-item" *ngFor="let lesson of lessons">
            <div class="lesson-header">
              <span class="subject">{{ lesson.subjectName }}</span>
              <span class="time">{{ lesson.startTime }} – {{ lesson.endTime }}</span>
            </div>
            <div class="teacher">Prowadzący: {{ lesson.teacherName }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="showEditModal">
  <div class="modal">
    <h2>Edycja planu zajęć</h2>

    <label>Wybierz klasę:</label>
    <select [(ngModel)]="editLesson.classId" (change)="onClassChange()">
      <option [value]="null" disabled selected>-- wybierz klasę --</option>
      <option *ngFor="let cls of availableClasses" [value]="cls.id">{{ cls.groupName }}</option>
    </select>

    <label>Wybierz nauczyciela z przedmiotem:</label>
    <select [(ngModel)]="editLesson.assignmentId" [disabled]="availableAssignments.length === 0">
      <option [value]="null" disabled selected>-- wybierz nauczyciela --</option>
      <option *ngFor="let t of availableAssignments" [value]="t.assignmentId">
        {{ t.teacherName }} - {{ t.subjectName }}
      </option>
    </select>

    <label>Data:</label>
    <input type="date" [(ngModel)]="editLesson.date" />

    <label>Godzina od:</label>
    <input type="time" [(ngModel)]="editLesson.startTime" />

    <label>Godzina do:</label>
    <input type="time" [(ngModel)]="editLesson.endTime" />

    <div class="modal-buttons">
      <button (click)="saveLesson()">Zapisz</button>
      <button (click)="closeEditModal()">Anuluj</button>
    </div>
  </div>
</div>
